/mcp-server
/bin
/react-query
/.eslintcache
/.speakeasy/reports
/funcs
/core.*
/__tests__
/esm
/dist
/.tshy
/.tshy-*
/hooks
/models
/sdk/models/errors
/sdk/types
/lib
/sdk
/index.*
/cjs
/node_modules
/.tsbuildinfo
