/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { SDKCore } from "../core.js";
import {
  encodeFormQuery,
  encodeJSONQuery,
  queryJoin,
} from "../lib/encodings.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../sdk/models/errors/httpclienterrors.js";
import { ResponseValidationError } from "../sdk/models/errors/responsevalidationerror.js";
import { SDKBaseError } from "../sdk/models/errors/sdkbaseerror.js";
import { SDKValidationError } from "../sdk/models/errors/sdkvalidationerror.js";
import * as operations from "../sdk/models/operations/index.js";
import { V3ListConversionsServerList } from "../sdk/models/operations/v3listconversions.js";
import * as payments from "../sdk/models/payments/index.js";
import { APICall, APIPromise } from "../sdk/types/async.js";
import { Result } from "../sdk/types/fp.js";

/**
 * List currency and asset conversions ingested from connectors
 *
 * @remarks
 * Returns the full list of conversions ingested by Formance from
 * connectors that implement the conversions capability. A conversion
 * is a direct swap between two assets on a PSP (e.g. USD → USDC on
 * Coinbase Prime). Conversions are **read-only** through the Formance
 * API.
 *
 * Unlike orders, conversions do not carry an adjustment history —
 * Formance records only the final observed state (`status`,
 * `destinationAmount`, and `fee` when settled).
 *
 * Results are cursor-paginated. The optional request body accepts a
 * query builder for filtering over top-level `V3Conversion` fields
 * such as `connectorID`, `reference`, `status`, `sourceAsset`,
 * `destinationAsset`, and `createdAt`.
 *
 * If set, this operation will use {@link Security.clientID} from the global security.
 */
export function paymentsV3ListConversions(
  client: SDKCore,
  request: operations.V3ListConversionsRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.V3ListConversionsResponse,
    | payments.V3ErrorResponse
    | SDKBaseError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: SDKCore,
  request: operations.V3ListConversionsRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.V3ListConversionsResponse,
      | payments.V3ErrorResponse
      | SDKBaseError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) => operations.V3ListConversionsRequest$outboundSchema.parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;

  const baseURL = options?.serverURL
    || pathToFunc(V3ListConversionsServerList[0], {
      charEncoding: "percent",
    })();

  const path = pathToFunc("/api/payments/v3/conversions")();

  const query = queryJoin(
    encodeFormQuery({
      "cursor": payload.cursor,
      "pageSize": payload.pageSize,
    }),
    encodeJSONQuery({
      "query": payload.query,
    }, { explode: false }),
  );

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const securityInput = await extractSecurity(client._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput, [0]);

  const context = {
    options: client._options,
    baseURL: baseURL ?? "",
    operationID: "v3ListConversions",
    oAuth2Scopes: ["payments:read"],

    resolvedSecurity: requestSecurity,

    securitySource: client._options.security,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: baseURL,
    path: path,
    headers: headers,
    query: query,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    isErrorStatusCode: (statusCode: number) =>
      !matchStatusCode({ status: statusCode } as Response, ["200"]),
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    ContentType: response.headers.get("content-type")
      ?? "application/octet-stream",
    StatusCode: response.status,
    RawResponse: response,
    Headers: {},
  };

  const [result] = await M.match<
    operations.V3ListConversionsResponse,
    | payments.V3ErrorResponse
    | SDKBaseError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, operations.V3ListConversionsResponse$inboundSchema, {
      key: "V3ConversionsCursorResponse",
    }),
    M.jsonErr("default", payments.V3ErrorResponse$inboundSchema),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
